<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contract Settlement Prices Dashboard</title>
    <link rel="stylesheet" href="static/styles.css">

</head>

<body>

    <nav class = "navigation">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/bought">Bought</a></li>
            <li><a href="/stats">Stats</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2>Select a current date:</h2>
        <input type="date" id="dateInput" class="date-selector">
        <div class="buttons">
            <button id="prevButton">&lt;</button>
            <button id="nextButton">&gt;</button>
        </div>
        <table id="dataTable">
            <thead>
                <tr>
                    <th>Contract Month</th>
                    <th>Settlement Price</th>
                    <th>Change</th>
                    <th>Percent (%)</th>
                    <th>Spread</th>
                </tr>
            </thead>
            <tbody>
                <!-- Data rows will be inserted here dynamically -->
            </tbody>
        </table>
    </div>
    
    <script src="static/scripts.js"></script>
</body>
</html>