<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contract Settlement Prices Dashboard</title>
    <link rel="stylesheet" href="static/styles.css">

</head>

<body>
    <div id="walletInfo" data-wallet-number="{{ wallet_number }}"></div>
    <div id="walletUnrealized" data-wallet-unrealized="{{ unrealized }}"></div>
    <div id="walletMargin" data-wallet-margin="{{ margin }}"></div>

    <nav class = "navigation">
        <ul>
            <div class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/bought">Bought</a></li>
                <li><a href="/stats">Stats</a></li>
            </div>
            <div class="right-container">
                <div class="loader" id="loadImg"></div>
                <li><span class="dropLabelUnrealized" title="Unrealized Value"> {{ unrealized }} </span></li>
                <li><span class="dropLabelMargin" title="Margin Value"> {{ margin }} </span></li>
                <div class="wallet-container">
                    <li><span class="wallet_number"> {{ wallet_number }} </span></li>
                    <div class="dropdown-menu">
                        <button class="dropbtn" onclick=depositFunds()>Deposit</button>
                        <button class="dropbtn" onclick=withdrawFunds()>Withdraw</button>
                    </div>
                </div>
                <li><span class="restart_btn" onclick=restart()>Restart</span></li>
            </div>
        </ul>
    </nav>

    <div class="container">
        <h2>Select a current date: <span id = "current-date"></span></h2>
        <input type="date" id="dateInput" class="date-selector">
        <div class="buttons">
            <button id="prevButton">&lt;</button>
            <button id="nextButton">&gt;</button>
        </div>
        <table id="dataTable">
            <thead>
                <tr>
                    <th>Contract Month</th>
                    <th>Limit Price</th>
                    <th>Current Price</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Purchase Date</th>
                    <th>Purchase Price</th>
                    <th>Change</th>
                    <th>Percent (%)</th>
                </tr>
            </thead>
            <tbody>
                <!-- Data rows will be inserted here dynamically -->
            </tbody>
        </table>
    </div>

    <div id="modal">
        <div class="modal-content">
            <h2>Contract Actions</h2>
            <div class="p1_centered">
                <p id="p1">Contract Date: <span class="contract-date" id="mContractDate"></span> Current Date: <span id="mCurrentDate"></span></p>
            </div>
            <div class="modal_prices">
                <p id="p2">Purchase price: <span id="mPrice"></span></p>
                <div class="modal-combo">  
                    <label for="limitInput">Limit Price:</label>
                    <input type="number" list="limitList" id="limitInput">
                    <datalist id="limitList">
                        
                    </datalist>
                </div>
                <div class="modal-combo">
                    <label for="qtyInput">Quantity:</label>
                    <input type="number" list="qtyList" name="qtyList" id="qtyInput">
                    <datalist id="qtyList">
                        
                    </datalist>
                </div>
            </div>
            <div class="margin_price">
                <p id="p3">Profit/Loss: <span id="mProfit"></span></p>
            </div>
            <div class="modal-buttons-container">
                <button class="modalButtonCon" onclick="changeContract()">Close Contract</button>
                <button class="modalButton" onclick="closeModal()">Close</button>
            </div>
        </div>
    </div>
    
    <script src="static/scripts.js"></script>
</body>
</html>