<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contract Settlement Prices Dashboard</title>
    <link rel="stylesheet" href="static/styles.css">
        
</head>
<body>

    <div id="walletInfo" data-wallet-number="{{ wallet_number }}"></div>
    <div id="walletUnrealized" data-wallet-unrealized="{{ unrealized }}"></div>
    <div id="walletMargin" data-wallet-margin="{{ margin }}"></div>
    <div id="walletExcess" data-wallet-excess="{{ excess }}"></div>

    <nav class = "navigation">
        <ul>
            <div class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/bought">Bought</a></li>
                <li><a href="/stats">Stats</a></li>
            </div>
            <div class="right-container">
                <div class="loader" id="loadImg"></div>
                <li>EX: <span class="dropLabelExcess" title="Excess Value"> {{ excess }} </span></li>
                <li>UR: <span class="dropLabelUnrealized" title="Unrealized Value"> {{ unrealized }} </span></li>
                <li>M: <span class="dropLabelMargin" title="Margin Value"> {{ margin }} </span></li>
                <div class="wallet-container">
                    <li>W: <span class="wallet_number"> {{ wallet_number }} </span></li>
                    <div class="dropdown-menu">
                        <button class="dropbtn" onclick=depositFunds()>Deposit</button>
                        <button class="dropbtn"onclick=withdrawFunds()>Withdraw</button>
                    </div>
                    
                </div>
                
                <div class="game-menu">
                    <li><span class="restart_btn" onclick=restart()>Restart</span></li>

                    <div class="dropdown-menu">
                        <button class="dropbtn" onclick=newgame()>New Game</button>
                        <datalist class="dropbtn" id= "gameList">
                            <!-- Data rows will be inserted here dynamically -->
                        </datalist>
                    </div>
                    
                </div>
            </div>
        </ul>
    </nav>
    
    <div class="container">
        <h2>Select a current date: <span id = "current-date"></span></h2>
        <input type="date" id="dateInput" class="date-selector">
        <div class="buttons">
            <button id="prevButton">&lt;</button>
            <button id="nextButton">&gt;</button>
        </div>
        <table id="dataTable">
            <thead>
                <tr>
                    <th>Contract Month</th>
                    <th>Settlement Price</th>
                    <th>Change</th>
                    <th>Percent (%)</th>
                    <th>Spread</th>
                </tr>
            </thead>
            <tbody>
                <!-- Data rows will be inserted here dynamically -->
            </tbody>
        </table>
    </div>


    <div id="modal">
        <div class="modal-content">
            <h2>Contract Actions</h2>
            <div class="p1_centered">
                <p id="p1">Contract Date: <span class="contract-date" id="mContractDate"></span> Current Date: <span id="mCurrentDate"></span></p>
            </div>
            <div class="modal_prices">
                <p id="p2">Price: <span id="mPrice"></span></p>
                <div class="modal-combo">  
                    <label for="limitInput">Limit Price:</label>
                    <input type="number" list="limitList" id="limitInput">
                    <datalist id="limitList">
                        
                    </datalist>
                </div>
                <div class="modal-combo">
                    <label for="qtyInput">Quantity:</label>
                    <input type="number" list="qtyList" name="qtyList" id="qtyInput">
                    <datalist id="qtyList">
                        <option value=1>
                        <option value=2>
                        <option value=3>
                        <option value=4>
                        <option value=5>
                        <option value=6>
                        <option value=7>
                        <option value=8>
                        <option value=9>
                        <option value=10>
                    </datalist>
                </div>
            </div>
            <div class="margin_price">
                <p id="p3">Margin Price: <span id="marginPrice"></span></p>
            </div>
            <div class="modal-input-container">
                <div class="modal-radio-container">
                    <label class="radio">
                        <input type="radio" id="buyRadio" name="contractAction" checked>
                        <span>Buy</span>  
                    </label>
                    <label class="radio">
                        <input type="radio" id="sellRadio" name="contractAction">
                        <span>Sell</span>
                    </label>
                </div>
                    
            </div>
            <div class="modal-buttons-container">
                <button class="modalButton" onclick="buyContract()">Submit</button>
                <button class="modalButton" onclick="closeModal()">Close</button>
            </div>
        </div>
    </div>

    <div id="modal-spread">
        <div class="modal-content">
            <h2>Contract Actions</h2>
            <div class="p1_centered">
                <p id="p1">Spread Date: <span class="contract-date" id="sContractDate"></span> Current Date: <span id="sCurrentDate"></span></p>
            </div>
            <div class="modal_prices">
                <p id="p2">Current Price: <span id="sPrice"></span></p>
                <div class="modal-combo">  
                    <label for="limitInput">Limit Price:</label>
                    <input type="number" list="limitList" id="slimitInput">
                    <datalist id="limitList">
                        
                    </datalist>
                </div>
                <div class="modal-combo">
                    <label for="qtyInput">Quantity:</label>
                    <input type="number" list="qtyList" name="qtyList" id="sqtyInput">
                    <datalist id="qtyList">
                        <option value=1>
                        <option value=2>
                        <option value=3>
                        <option value=4>
                        <option value=5>
                        <option value=6>
                        <option value=7>
                        <option value=8>
                        <option value=9>
                        <option value=10>
                    </datalist>
                </div>
            </div>
            <div class="sMargin_price">
                <p id="p3">Margin Price: <span id="sMarginPrice"></span></p>
            </div>
            <div class="modal-input-container">
                <div class="modal-radio-container">
                    <label class="radio">
                        <input type="radio" id="sbuyRadio" name="contractAction" checked>
                        <span>Buying back month, selling front month</span>  
                    </label>
                    <label class="radio">
                        <input type="radio" id="ssellRadio" name="contractAction">
                        <span>Selling back month, buying front month</span>
                    </label>
                </div>
                    
            </div>
            <div class="modal-buttons-container">
                <button class="modalButton" onclick="buySpread()">Submit</button>
                <button class="modalButton" onclick="closeSpreadModal()">Close</button>
            </div>
        </div>
    </div>
    <div id="graphContainer">
        <canvas id="myChart"></canvas>
    </div>
    <script src="static/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>